.hamburger {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 556;

  .x-button {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
  }

  .three-lines {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }

  .hamburger-button {
    position: fixed;
    z-index: 557;
    left: 8vw;
    top: 5vh;
    font-size: 75px;
    font-weight: 900;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #343e59;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger-menu {
    background-color: #2b2d3e;
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .opened {
    animation-name: showMenu;
    animation-duration: 0.5s;
  }

  .closed {
    width: 0;
    animation-name: hideMenu;
    animation-duration: 0.6s;
    .hamburger-link {
      display: none;
      opacity: 1;
      width: 0;
      animation: hideMenuButtons 0.4s;
    }
  }

  .hamburger-link {
    text-decoration: none;
    color: white;
    font-size: 24px;
    width: 15vw;
    height: 6vh;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #343e59;

    overflow: hidden;
    white-space: nowrap;
    .a {
      overflow: clip;
    }

    animation-name: showMenuButtons;
    animation-duration: 0.5s;
  }
  .selected {
    background-color: rgb(0, 227, 150);
  }
}

@keyframes showMenu {
  from {
    width: 0;
    z-index: 222;
  }
  to {
    width: 20vw;
  }
}

@keyframes showMenuMobile {
  from {
    width: 0;
    z-index: 222;
  }
  to {
    width: 55vw;
  }
}

@keyframes showMenuButtons {
  from {
    width: 0;
    z-index: 222;
  }
  to {
    width: 15vw;
  }
}

@keyframes hideMenu {
  // from {
  //   width: 20vw;
  //   .hamburger-link {
  //     width: 15vw;
  //   }
  // }
  // to {
  //   width: 0;
  //   .hamburger-link {
  //     width: 0;
  //   }
  // }
}

@keyframes hideMenuMobile {
  from {
    width: 55vw;
    // .hamburger-link {
    //   width: 90%;
    // }
  }
  to {
    width: 0;
    // .hamburger-link {
    //   width: 0;
    // }
  }
}

@keyframes hideMenuButtons {
  from {
    width: 15vw;
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 0;
  }
}

@media screen and (max-width: 420px) {
  .hamburger {
    .hamburger-button {
      width: 30px;
      height: 30px;
      font-size: 10vw;
    }
    .hamburger-menu {
      width: 55vw;
      height: 110vh;
      .hamburger-link {
        width: 90%;
        font-size: 5vw;
      }
    }
    .opened {
      animation-name: showMenuMobile;
      animation-duration: 0.5s;
    }
    .closed {
      width: 0;
      animation-name: hideMenuMobile;
      animation-duration: 0.5s;
      .hamburger-link {
        display: none;
        opacity: 1;
        width: 0;
        animation: hideMenuButtons 0.4s;
      }
    }
  }
}
