$block-main: #2b2d3e;
$block-second: #8492a9;
$block-header: #384257;
$block-header-text: #dae0eb;
$yellow: #ffc107;
$orange: #fd7e14;

.text-block {
  width: 18vw;
  background-color: $block-main;
  color: $block-header-text;
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 10px;
  .data {
    font-size: 44px;
    font-weight: bold;
    color: $yellow;
    text-shadow: 3px 4px black;
  }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .subtitle {
      font-size: 24px;
      margin-left: 10px;
    }
  }
}
