$block-main: #2b2d3e;
$block-second: #8492a9;
$block-header: #384257;
$block-header-text: #dae0eb;
$yellow: #ffc107;
$orange: #fd7e14;
$blue: #2188ff;
$green: #34d058;

.text-block {
  width: 18vw;
  background-color: $block-main;
  color: $block-header-text;
  height: 19vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 10px;

  .nan-data {
    color: #da3633 !important;
    font-weight: 400 !important;
  }

  .title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .data {
    font-size: 44px;
    font-weight: bold;
    color: $blue;
    text-shadow: 3px 4px black;
  }

  .today {
    color: $green;
  }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .subtitle {
      font-size: 24px;
      margin-left: 10px;
    }
  }
}
