.column-chart {
  svg text {
    fill: white !important;
  }
  .apexcharts-xaxis {
    color: white;
    fill: white;
  }
  .apexcharts-canvas,
  .apexchartsbasicxbar,
  .apexcharts-theme-light {
    svg text {
      fill: white;
    }
  }
  .apexcharts-yaxis {
    svg text {
      fill: white !important;
    }
  }
  .apexcharts-legend-text {
    color: white !important;
  }
  .apexcharts-yaxis-texts-g {
    g {
      color: white !important;
    }
  }
}
