.dashboard-page {
  .slider-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;

    .chart-and-avg {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .custom-chart {
        height: 75vh;
      }
    }
    .text-blocks {
      padding: 2rem;
      width: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }
  }

  .slider-container:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .stats-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4vw;
      font-weight: bold;
      p {
        color: #dae0eb;
        width: 75.2vw;
        padding: 1rem;
      }
    }
  }

  .avg-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 30vw;
    background-color: #2b2d3e;

    .avg-stat {
      height: 35%;
      width: 80%;
      background-color: #343e59;
    }
    .avg-title {
      // color: #34d058;
      color: #dae0eb;
      font-size: 32px;
    }
  }
}

.blured {
  filter: blur(2px);
}

@media screen and (max-width: 420px) {
  .dashboard-page {
    .slider-container {
      overflow-y: scroll;
    }
    .slider-container:last-child {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;

      .text-blocks {
        padding: 0;
        width: 100%;
      }
      overflow-y: scroll;
    }
  }

  .chart-and-avg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    .custom-chart {
      width: 100%;
    }
    .avg-stats {
      width: 100%;
      .avg-title {
        text-align: center;
        font-size: 6vw;
      }
    }
    .slider-container:first-child {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
