$block-main: #2b2d3e;
$block-second: #8492a9;
$block-header: #384257;
$block-header-text: #dae0eb;
$full-white: #fff;
$blue: #2188ff;
$green: #34d058;

.list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-list {
  width: 30vw;
  min-height: 60vh;

  .meteodata-list {
    tbody {
      .newClass:first-child {
        // white-space: wrap;
        opacity: 1;
        animation: backgroundBlink 0.75s ease-in-out;
        // background-color: red;
        .field {
          height: 100%;
          animation: dataFlow 1.5s ease-in;
        }
      }
    }
  }
}

.big-list {
  height: 100%;
  font-size: 20px;
  width: 99.7%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .meteodata-list {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    thead {
      height: 10vh;
      .header {
        width: 99.7%;
        position: fixed;
        z-index: 12;
      }
    }
    tbody {
      margin-top: 20px;
      height: 100%;
      width: 100%;
      padding: 0;
      overflow-y: scroll;
      .data {
        height: 20vh;
        width: 100%;
        .isRaining {
          .block {
            width: 20px;
            height: 20px;
          }
        }
        .field {
          width: 20%;
          height: 8vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.meteodata-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #f8f9fa;
  width: 100%;
  thead {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    .header {
      width: 100%;
      height: 12vh;
      background-color: $block-main;
      // background-image: linear-gradient(135deg, #ffd3a5 10%, #fd6585 100%);
      color: $full-white;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      text-align: center;

      .header-option {
        width: 20%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  tbody {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    overflow: hidden;

    .data {
      width: 100%;
      text-align: center;
      display: flex;
      background-color: $block-main;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid $block-second;
      &:last-child {
        border-bottom: none;
      }

      .isRaining {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        .block {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15px;
          height: 15px;

          .false,
          .true {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: 2px 2px black;
          }
          .false {
            background-color: $green;
          }
          .true {
            background-color: $blue;
          }
        }
      }

      .field {
        width: 20%;
        padding: 10px 0;
      }
    }
  }

  .button-background {
    width: 100%;
    background-color: $block-main;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    .button {
      text-decoration: none;
      text-align: center;
      background-color: $block-main;
      width: 60%;
      padding: 8px;
      border: 2px solid $block-second;
      cursor: pointer;
      color: $block-header-text;
      &:hover {
        border: 2px solid rgb(52, 98, 215);
        color: $full-white;
        background-color: rgb(52, 98, 215);
      }
    }
  }
}

p[message] {
  position: relative;
}

p[message]::after {
  content: attr(message);
  position: absolute;
  bottom: -20%;
  left: 90%;
  z-index: 12;
  color: $full-white;
  padding: 0.6rem;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $block-header;
  transform: scale(0);
  transition: transform ease-out 0.2s;
}

p[message]:hover::after {
  transform: scale(1);
}

table {
  border-collapse: collapse;
}
th,
td {
  padding: 0;
}

@keyframes backgroundBlink {
  from {
    background-color: $block-main;
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: rgba(11, 185, 52, 0.4);
  }
}

@keyframes dataFlow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 420px) {
  .small-list {
    width: 100vw;
    .meteodata-list {
      .header {
        font-size: 4vw;
      }
      .field {
        font-size: 4vw;
      }
      .date-stamp {
        font-size: 3vw;
      }
    }
  }
}
