$block-main: #2b2d3e;
$block-second: #8492a9;
$block-header: #384257;
$block-header-text: #dae0eb;

.custom-chart {
  background-color: $block-main;
  width: 50vw;
  // height: 75vh;

  .chart-title {
    padding: 10px;
    color: $block-header-text;
  }

  .chart-error {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    color: #da3633;
  }
}
