$block-main: #2b2d3e;
$block-second: #8492a9;
$block-header: #384257;
$block-header-text: #dae0eb;

.custom-chart {
  background-color: $block-main;
  width: 50vw;
  // height: 75vh;

  .chart-title {
    padding: 10px;
    color: $block-header-text;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .select-container {
      .select {
        color: #34d058;
        background-color: #2b2d3e;
        width: 12vw;
        font-size: 20px;
        padding: 1rem;
        outline: none;

        option {
          padding: 1rem;
        }
      }
    }
  }

  .chart-error {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    color: #da3633;
  }
}

@media screen and (max-width: 420px) {
  .custom-chart {
    .chart-title {
      width: 100%;
      font-size: 4vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      .select-container {
        .select {
          width: 100%;
        }
      }
    }
  }
}
