$sub-color: grey;
$main-color: black;

$block-main: #2b2d3e;
$block-second: #8492a9;
$block-header: #384257;
$block-header-text: #dae0eb;

@mixin shrinkLabel {
  top: -23px;
  left: -5px;
  font-size: 16px;
  color: white;
}

.group {
  position: relative;
  margin: 5px 0;

  width: 100%;

  .input-field {
    // background: none;
    color: $sub-color;
    font-size: 19px;
    padding: 15px 0px 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    border-radius: 9px;
    // border-bottom: 1px solid $sub-color;
    margin: 35px 0;
    text-align: center;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input {
    background-color: $block-header;
  }

  input[type="email"]:invalid {
    color: #da3633;
  }

  input[type="email"]:valid {
    color: #28a745;
    // background-color: $block-header;
  }

  input[type="password"] {
    color: #28a745;
    letter-spacing: 0.3em;
    background-color: $block-header;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10%;
    top: 15px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
